.ketty__home {
  width: 100%;
  background-color: blue;
}

.ketty__paralaks {

}

.ketty__paralaksShedowe {

}

.ketty__name {
  display: block;
  color: white;
  border:  3px solid white;
  padding: 30px;
  font-size: 180%;
}
